{% extends "SdzBlogBundle::layout.html.twig" %} 

{% block title %}{{
	parent() }} - Index
{% endblock %} 

{% block body %}
	<div class="container">
	
		<h3>Formulaire d'article</h3>
	
		<div class="well">
			<form method="post"  {{ form_enctype(form) }}>
				
				
			    {{ form_label(form.contenu, "Contenu de l'article") }}
				</br>
				{{ form_errors(form.contenu) }}
				{{ form_widget(form.contenu) }}
			    
			    </br>
				
			    {{ form_rest(form) }}
				<input type="submit" class="btn btn-primary" />
			
			</form>
		</div>
	
	</div>
	
	


	<script> $('#Exprimez-vous').addClass('active')</script>
{% endblock %}
