{% extends "SdzBlogBundle::layout.html.twig" %} 

{% block title %}
	{{parent() }} - Index
{% endblock %} 

{% block body %}
	
	<div class="container">
		<div class="col-sm-d">
			<div class="panel-group" id="accordion">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapseOne"> Deroule moi </a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">Je suis vide</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapseTwo"> Lorem </a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">Anim pariatur cliche reprehenderit, enim
							eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
							officia aute, non cupidatat skateboard dolor brunch. Food truck
							quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
							aliqua put a bird on it squid single-origin coffee nulla assumenda
							shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
							wes anderson cred nesciunt sapiente ea proident. Ad vegan
							excepteur butcher vice lomo. Leggings occaecat craft beer
							farm-to-table, raw denim aesthetic synth nesciunt you probably
							haven't heard of them accusamus labore sustainable VHS.</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapseThree"> ipsum </a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">Anim pariatur cliche reprehenderit, enim
							eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
							officia aute, non cupidatat skateboard dolor brunch. Food truck
							quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
							aliqua put a bird on it squid single-origin coffee nulla assumenda
							shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
							wes anderson cred nesciunt sapiente ea proident. Ad vegan
							excepteur butcher vice lomo. Leggings occaecat craft beer
							farm-to-table, raw denim aesthetic synth nesciunt you probably
							haven't heard of them accusamus labore sustainable VHS.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<ul>
  		{% for article in articles %}
    	{# On inclut la vue à chaque itération dans la boucle #}
    		<div class="container">
    			{% include "SdzBlogBundle:Blog:article.html.twig" with {'accueil': true} %}
    		</div>
    		<hr />
  		{% else %}
    		<p>Pas (encore !) d'articles</p>
  		{% endfor %}
	</ul>
	
	
	
	
	<div class="container">
    	<ul class="pagination">
    		{# On affiche pas le retour page-1 si on est à la premiere page #}
    		{% if page > 1 %}<li><a href="{{ path('sdzblog_accueil', {'page': page-1}) }}">&laquo;</a></li>{% endif %} 
	      	{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
	      	{% for p in range(1, nombrePage) %}
	        	<li{% if p == page %} class="active"{% endif %}>
	          		<a id="page{{ p }}" href="{{ path('sdzblog_accueil', {'page': p}) }}">{{ p }}</a>
	        	</li>
	      	{% endfor %}
	      	{# On affiche pas le retour page+1 si on est à la dernire page #}
	      	{% if page < nombrePage %}<li><a href="{{ path('sdzblog_accueil', {'page': page+1}) }}">&raquo;</a></li>{% endif %} 
    	</ul>
  	</div>
  	

<script> $('#home').addClass('active')</script>
{% endblock %}
